{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %} Password reset page {% endblock %}

{% block page_heading %} Reset Password {% endblock %}

{% block content %}
<!-- Password Reset form -->
<div class="container login-container">
	<ol class="breadcrumb bcrumb-margins"><li class="breadcrumb-item"> <a href="{% url 'index' %}"> Home </a></li>
		<li class="breadcrumb-item active">Password reset</li>
    </ol>
    
	<div class="row justify-content-md-center">
		<div class="col-md-6">
			<form method="POST">
				<p> Please enter your email address </p> 
                {% csrf_token %}
                {{ form.email.errors }}
		        <p> <label for="id_email"> Email address </label></p>
                {{ form.email }}
			    <p> <button type="submit" class="btn btn-primary mt-4"> Reset Password </button></p>
			</form>
		</div>	
    </div>
</div>
{% endblock %}