/*-----------------------------------*/
/* main.css: Add and override styles */
/*-----------------------------------*/

/*----------------------------------------------------*/
/* https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
/* Colors used                       
/* #3d5a80 = navy purple
/* #98c1d9 = pale cerulean
/* #e0fbfc = light cyan
/* #ee6c4d = light red orche
/* #293241 = gun metal
/*----------------------------------------------------*/

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background: #98c1d9; /* pale cerulean */
    padding-top: 65px;
}

/* ----- Changes to Padding for Messages ----- */ 
/* see http://stephen.io/mediaqueries          */

/* iPhone 5 & 5S in portrait & landscape */
@media (min-width: 320px) and (max-width: 568px) {
body { 
    padding-top: 90px; }
}
/* iPhone 6, 7, & 8 in portrait & landscape */
@media (min-width: 375px) and (max-width: 667px)  {
body { 
    padding-top: 65px; }
}
/* iPhone X in portrait & landscape */
@media (min-width: 375px) and (max-width: 812px)  {
body { 
    padding-top: 65px; }
}
/* iPhone 6, 7, & 8 Plus in portrait & landscape */
@media (min-width: 414px) and (max-width: 736px)  {
body { 
    padding-top: 65px; }
}
/* iPad in portrait & landscape */
@media (min-width: 768px) and (max-width: 1024px)  {
body { 
    padding-top: 65px; }
}


 
p.card-body {
 margin :10px;
 line-height: 15px;
}

p.card-footer {
 margin: 0;
 padding: 0;
}



/* ----- Changes to Nav Bar ----- */
/*text colour for the link on the navbar */
.navbar .nav-link, 
.navbar .nav-link:hover {
	color: white;
	font-size: 13px; 
}

/**/
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    line-height: 20px;
}

/* CHANGE color of dropdown item when hovered over */
.dropdown-item:hover {
    background-color: #98c1d9; /* pale cerulean */
    color: black;
}

/**/
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-size:13px;
    background-color: #ee6c4d;
    color:  #ffffffd4;
} 

/* ----- Changes to Messages ------- */
.alert {
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.alert-success {
    background-color: #75BF00;
}

.alert-danger {
    background-color: #ee6c4d;
}

/* ----- Changes to Breadcrumb ----- */
/* CHANGE color & font-size*/
.breadcrumb {
	background-color: #3d5a80; /* purple navy */
	font-size: 13px; 
}

/* ADD matgins */
.bcrumb-margins {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Change color */
.breadcrumb-item > a {
	color: rgba(255,255,255,0.5); 
	text-decoration: none;
}

/* Change color */
.breadcrumb-item > a:hover {
    color: white; 
    text-decoration: none;
}

/* Change color */
.breadcrumb-item.active {
    color: #ee6c4d;
}

/* ----- Changes to Header ----- */
/* ADD background */
.masthead {
    position: relative;
    width: 100%;
    height: 75%;
    background: url("/static/img/bg-1963-triumph-spitfire-gt6r-le-mans-recreation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead img {
    max-width: 100%;
}

/* CHANGE font of h1 */
h1 {
    font-family: 'Varela Round';
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.5rem;
}

/* CHANGE font of h2 */
h2 {
    font-family: Verdana;
}

/* Move to top left of background image */
.bg-header {
    text-align: center;
    top: 0;
    bottom: 0;
}

/* CHANGE color */
.bg-info {
 background-color: #3d5a80 !important; /* pale cerulean */   
}

/* Move to botton of background image */
.bg-tagline {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}



/* ----- Changes to Models Section ----- */
/* Change font size of h2 */
.model-header {
   font-size: 1.25rem; 
}

/* Add photo spacing left & border */
#photo-left {
    float: left;    
    margin: 0 15px 0 0;
    border: 1px solid #000;
    padding: 0;
}

/* Add photo spacing right & border */
#photo-right {
    float: right;    
    margin: 0 0 0 15px;
    border: 1px solid #000;
    padding: 0;
    
}

/* Add border to photo */
.product-image {
    border: 1px solid #000;
}



/* ----- Changes to Cards ----- */

/* CHANGE border for card */
.card {
  border: 1px solid #000;
  border-radius: 0px;
  padding: 0;
}

/* CHANGE padding for Card body */
.card-body {
  padding: 0rem;
}

/* CHANGE color for Card link */
.card-link:hover {
  color: #ee6c4d; 
  text-decoration: none;
}

/* CHANGE font size for Card title */
.card-title {
  color: #ee6c4d; 
  font-size: 1.5em;
}

/* Add border to parts diagram */
.parts-diagram {
    border: 1px solid #000;
}

/* ADD border & color for Card footer */
.card-footer {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: none;
  background-color: #ddd; 
  padding: 0;
  margin: 0;
}

/* ADD border & color for Card header */
.card-header {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  background-color: #ddd; 
  padding: 0;
}



/* ----- Changes to cart.html ----- */
/* Add font-size to cart totals */
.cart-total {
    font-size: 22px;
}

/* Add padding to qty box */
.input-group, 
.form-control {
    padding-right: 10px;
    padding-left: 10px;
}

/* CHANGE Paragraphs for Card text */ 
p.card-text {
 margin :10px;
 line-height: 15px;
}



/* ----- Changes to Back To Top Button ----- */
/* Back to top button */
.bttop {
    width: 65px;
    background: #ee6c4d;
    position: fixed;
    right: -9px;
    bottom: 33px;
    z-index: 9998;
    border: 2px solid #fff;
    border-radius: 10px;
}

/* Back to top button hover */
.bttop:hover {
    background: #ee6c4d;
    box-shadow: 5px 10px 25px #555;
}

.bttop i {
    color: #ffffffd4;
    font-size: 35px;
    padding: 7px;
}
  
/* Back to top button icon hover */
.bttop i:hover {
    color: #fff;
}



/* ----- Changes to Footer ----- */
/* Push Footer to bottom of page */
.footer-bottom {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   text-align: center;
}

/* Change color of links */
.footer-link, 
.footer-link:hover {
    color: #ee6c4d;
}

/* Change color */
.href-link,
.href-link:hover {
	color: #ee6c4d; 
	text-decoration: none;
}
