<!-- FOOTER -->
    <footer id="footer" class="bg-secondary text-center text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright"> <small> Copyright &copy; Triumphant Triumphs 2019 </small> </span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
                <p> <small> Agency is a free to use, open source Bootstrap theme created by
                 <a href="http://startbootstrap.com"> Start Bootstrap </small> </a>
                </p>
            </div>
        </div>
      </div>
    </footer>
    <!-- BACK TO TOP BUTTON -->
    <div class="bttop">
      <a href="#"> <i class="fas fa-arrow-circle-up"></i> </a>
    </div>