<!-- NAVIGATION NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/"> Triumphant Triumphs </a>
        <button class="navbar-toggler navbar-toggler-right" 
                 type="button" 
                 data-toggle="collapse" 
                 data-target="#navbarResponsive" 
                 aria-controls="navbarResponsive" 
                 aria-expanded="false" 
                 aria-label="Toggle navigation">
                 Menu
                 <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive"> 
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/"> <i class="fas fa-home fa-lg"></i> Home </a></li>
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/about"> <i class="fas fa-home fa-lg"></i> About </a></li>
              <li class="dropdown"> <a class="dropdown-toggle" href="" data-toggle="dropdown" role="button"> Parts <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/products/categories/"> All Parts </a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/parts/engine"> Engine  </a></li>
                    <li><a href="/parts/clutch"> Clutch  </a></li>
                    <li><a href="/parts/gearbox"> Gearbox and Overdrive  </a></li>
                    <li><a href="/parts/water"> Cooling and Heating </a></li>
                    <li><a href="/parts/fuel"> Fuel system  </a></li>
                    <li><a href="/parts/steering"> Steering </a></li>
                    <li><a href="/parts/front"> Front Suspension  </a></li>
                    <li><a href="/parts/rear"> Rear Suspension  </a></li>
                    <li><a href="/parts/brake"> Brake System </a></li>
                    <li><a href="/parts/exhaust"> Exhaust System </a></li>
                    <li><a href="/parts/electrics"> Electrics </a></li>
                    <li><a href="/parts/interior"> Interior </a></li>
                    <li><a href="/parts/exterior"> Exterior </a></li>
                    <li><a href="/parts/body"> Body Parts & Fittings </a></li>
                </ul>
              </li>
            <!-- If user is not logged in show Register / Login options -->   
            {% if user.is_authenticated %}  
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{% url 'profile' %}"> <i class="fa fa-user"></i> Profile </a></li>
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"> <i class="fa fa-sign-out-alt"> </i>Log Out </a></li>
            {% else %}   
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{% url 'registration' %}"> <i class="fa fa-user-plus"></i> Register </a></li>
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{% url 'login' %}"> <i class="fa fa-sign-in-alt"></i> Log In </a></li>
            {% endif %}
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/contact/"> <i class="fa fa-sign-in-alt"></i> Contact </a></li>
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/stats/"> <i class="fa fa-sign-in-alt"></i> Stats </a></li>
          </ul>
        </div>
      </div> 
    </nav>
<!-- END NAVIGATION NAVBAR --> 